.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100px;
  width: 100%;

  & > span {
    font-family: Montserrat, sans-serif;
    font-size: 30px;
  }

  & > input {
    font-size: 25px;
  }
}

