.page_wrapper {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-areas:
      'header'
      'content'
      'footer';
    grid-template-rows: 80px calc(100% - 160px) 80px;
}



