//colors
$main-color: ACB1AE;
$sub-color: #c4c4c4;
$title-color: #000000;
$text-color: #544C4C;

//fonts
$title: 'Montserrat', sans-serif;
$text: 'Montserrat', italic;

//vars
$title-size: 36px;
$text-size: 18px;